@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Gluten:wght@100;200;300&family=Lato:wght@100;400;700&family=Lobster&family=Noto+Sans:ital,wght@0,100;0,400;0,700;0,800;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Serif Display', serif;
}
ul{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1450px;
    margin: 20px auto;
}
.logo{
    font-size: 3.5rem;
    font-weight: bold;
}
.menu-hb{
    display: none;
}
.nav{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-right: 3rem;
    font-size: 1.3rem;

    li a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 40px;
        border: 1px solid black ;
        border-radius: 9px;
    }

    a:hover{
        background: rgb(116, 114, 114);
    }
}
main{
    max-width: 1450px;
    margin: 5rem auto;
    text-align: center;
}
.titulo{
    max-width: 1450px;
    margin: 5rem auto;
}
h1,h2{
    font-size: 8em;
}
h2{
    color: rgb(46, 44, 44);
}

.home{
    margin: 1rem auto;

    p{
        max-width: 60%;
        font-family: sans-serif;
        font-weight: 700;
        color: white;
        background: rgb(46, 44, 44);
        border-radius: 10px;
        padding:30px 20px;
    }
}

@media (max-width:1060px){
   h1,h2{
    font-size: 6rem;
   }

}

@media (max-width:620px){
    .nav{
        display: none;
    }
    .menu-hb{
        display:block;
        margin-right: 1rem;
    }

    .titulo{
        margin-top: 3rem;
        text-align: center;

        h1,h2{
            font-size: 3rem;
        }
       
    }

    .home{
      p{ max-width: 90%;
        text-align: center;
      }

      
}
}



//projeto//

.projetos{
    max-width: 80%;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    h2{
        color: black;
    }
}

#trabalhos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;

.trab{
        width:35%;
    }
    img{
        height:40vh;
    }
}

.sobre{
    max-width: 80%;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;

}

footer ul{
        background: grey;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
      a{
        color: rgb(255, 255, 255);
        font-size: 1rem;
        text-shadow: 2px 2px 1px black;
      }

      a:hover{
        color: black;
        text-shadow: none;
      }

}

#sites{
    max-width: 80%;
    margin: 5rem auto;

    .pagina{
        border: 1px solid black;
        
    }
    img{
        max-width: 1430px;
    }
}